.primaryBtn {
    margin: 20px 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 0.8rem;
    border: none;
    color: white;
    background: #185adb;
    transition: all 0.25s ease;
  }

  .primaryBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
  }

.editBtn {
    margin: 10px 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 0.8rem;
    border: none;
    color: black;
    background: #5dd2f5;
    transition: all 0.25s ease;
  }

  .editBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
  }

  .deleteBtn {
    margin: 10px 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 0.8rem;
    border: none;
    color: black;
    background: #a60303;
    transition: all 0.25s ease;
  }

  .deleteBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
  }

  .seenBtn {
    margin: 10px 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 0.8rem;
    border: none;
    color: black;
    background: #03a64c;
    transition: all 0.25s ease;
  }

  .seenBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
  }

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px 20px;
  z-index: 10;
  flex-direction: row;
}

.item1 {
  flex-grow: 1;
  z-index: 10;
  width: 50%;
}

.item2 {
  flex-grow: 4;
  z-index: 10;
  width: 50%;
  /* float: right; */
}
